/*Media query*/
h1{
    color: orangered;
}

@media screen and (max-width: 500px) {

    h1{
        color: greenyellow;
    }
}

/*min-width ou técnica mobile first */

p{
    background-color: aquamarine;
    color: black;
}

@media screen and (max-width: 500px) {
    h1{
        color:greenyellow
    }
}

/*min-width ou técnica mobile first */
@media screen and (min-width: 800px) {
    p{
        background-color: black;
        color: yellow;
    }
}

/*landscape ocultado */
h2{
    display: none;
}

@media screen and (orientation: landscape) {
    h2{
        display: block;
    }
}