/*Backgorund Image */

.bgimage {
    background-image: url(../img/tecnologia.PNG);
    padding: 10px;
    color: #fff;
}

/*Centralizar o Backgorund image aqui estou aplicando regra de estilo para dois elemnetos */
.bgimg-naocentral, .bgimg-central{
    background-image: url(../img/senaclargotreze.PNG);
    height: 400px;
    width: 400px;
}

.bgimg-central{
    background-position: center;
    background-size: cover;
}
/*Video como Background*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body{
    height: 100%;
}

.video-background{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#meuVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content{
    position: relative;
    color: #fff;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 3em;
}
p {
    font-size: 1.5em;
}